<header class="site-header">
    <nav class="site-nav">
        <a href="{{ '/' | relative_url }}" class="site-title">SuperGalen's Dungeon</a>
        
        <div class="nav-container">


            <!-- Dark Mode 切換開關 -->
            <div class="theme-switch-wrapper">
                <span class="theme-icon">☀️</span>
                <label class="theme-switch">
                    <input type="checkbox" id="theme-toggle">
                    <span class="slider"></span>
                </label>
                <span class="theme-icon">🌙</span>
            </div>
        </div>
    </nav>
</header>